{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Recipe-App
    </title>
</head>

<body>
    <h1 style="text-align:center">Welcome to Recipe-App!</h1>
    <br>

    <div style="position:relative">
        <center>
            <img src="{% static 'recipe/images/recipe-bg.jpg' %}" alt="home" width="80%">
            <a href="/recipes/" style="position:absolute; left: 500px; top: 250px; text-align:center">View all Recipes
            </a>
        </center>
    </div>


</body>

</html>